<footer class="bg-dark text-white">
        <div class="row">
            <ul id="redes" class="list-group-horizontal mx-auto p-0">
                <li class="p-4"><a href="https://www.facebook.com/ETOTTOKRAUSE/"><img src="/public/img/facebook.png" alt="facebook_page"></a></li>
                <li class="p-4"><a href="https://github.com/otto-krause"><img src="/public/img/github.png" alt="github_page"></a></li>
            </ul>
            
        </div>
        <div class="row">
            <div class="p-2 col-md-3 text-right ml-auto mr-3 small align-self-end">©2019 Escuela Técnica N°1 D.E. 4° "Otto Krause", 6CI1, Rudy Sarabia, Christian Ortiz
        </div>
    </div>
</footer>