<nav class="navbar navbar-expand-lg navbar-light bg-danger ">
  <a class="navbar-brand d-flex align-items-center" href="/">
    <img src="/public/img/EscudoOttoKrause.png" style="width: 2.5rem; height: 2.8rem; margin-right: 0.5rem" class="d-inline-block">
    <div class="hide-this text-white" style="vertical-align: bottom">Sistema de Gestión de biblioteca</div></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto ">
      <li class="nav-item">
        <a class="nav-link text-white" href="/control">Control</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link text-white" href="/libros">Lista de libros</a>
      </li>
      {{#if user}}
      <li class="nav-item">
        <a class="nav-item nav-link text-white" href="#">Préstamos</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link text-white" href="#">Socios</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" href="#" {{#unless prestamo}}disabled{{/unless}}>
            
        </a>
      </li>
      {{/if}}
    </ul>
    {{#if user}}
    <a class="nav-link dropdown-toggle p-2 text-white " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           <img src="/public/img/EscudoOttoKrause.png" alt="usericon" id="usericon" class=" img-fluid border border-white rounded-circle bg-white"> {{user.username}}
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/auth/logout">Logout</a>
        </div>
    {{/if}}
    {{#unless user}}
        <a class="nav-item nav-link text-white border border-white rounded-pill" href="/auth/login">Login</a>
      {{/unless}}
  </div>
</nav>
<!--
<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
  <a class="navbar-brand d-flex align-items-center" href="/">
    <img src="/public/img/EscudoOttoKrause.png" style="width: 2.5rem; height: 2.8rem; margin-right: 0.5rem" class="d-inline-block">
    <div class="hide-this" style="vertical-align: bottom">Sistema de Gestión de biblioteca</div>
  </a> 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="#navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
    <div class="navbar-nav py-auto">
      
      <a class="nav-item nav-link" href="/control">Control</a>
      <a class="nav-item nav-link" href="/libros">Lista de libros</a>
      {{#if user}}
          <a class="nav-item nav-link" href="/auth/logout">Logout</a>
          
      {{else}}
          <a class="nav-item nav-link" href="/auth/login">Login</a>
      {{/if}}

    </div>
    </div>
    
</nav>-->