<div class="masthead container-fluid d-flex justify-content-center overflow-hidden">
    <div class="align-self-center align-items-center d-flex flex-column h-50 w-50 text-center text-white border border-dark rounded p-5 text-responsive" id="titulo">
      <h1 class="align-self-center fil">Sistema de Gestión de Biblioteca</h1>
      <h6 class="align-self-center fill my-4">Un sistema diseñado para facilitar los procesos bibliotecarios</h6>
      <button class="btn btn-primary fill p-2" href="/control">Empezar</button>
    </div>
</div>