<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Links App</title>
    <link rel='stylesheet' href= "../public/css/1">
    
</head>
<body>
    <div>
        {{>navigation}} 
    </div>
    
    {{{body}}}
    
    <script src="../public/scripts/1"></script>
    <script src="../public/scripts/2"></script>
    <script src="../public/scripts/3"></script>
</body>
</html>