<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Links App</title>
        <link rel='stylesheet' href= "../public/css/1">
        <script src="../public/scripts/1"></script>
        <script src="../public/scripts/2"></script>
        <script src="../public/scripts/3"></script>
    </head>
    <body>
        {{>navigation}} 
        
        {{{body}}}
        

    </body>
    <footer class="justify-content-center text-center text-white bg-dark container-fluid fixed-bottom" aria-hidden="false">
        <div>Escuela técnica N°1 D.E. 4° Otto Krause</div>
        <div>Desarrollado por 6CI1 (2019)</div>
    </footer>
    <style>
        footer{
            padding-top: 10px;
            padding-bottom: 10px;
        }
    </style>
</html>