<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="/public/img/book.png">
    <title>Sistema de gestión de biblioteca - Otto Krause</title>
    <link rel='stylesheet' href="/public/css/bootstrap.min.css">
    <link rel='stylesheet' href="/public/css/styles.css">
    <script src="/public/scripts/jquery.min.js"></script>
    <script src="/public/scripts/bootstrap.min.js"></script>
    <script src="/public/scripts/handlebars-v4.4.3.js"></script>
    <script src="/public/scripts/popper.min.js"></script>
    <script src="/public/scripts/biblioteca.js"></script>
</head>

<body>
    {{>navigation}}
    <section class="w-100">
        {{{body}}}
    </section>
    {{>footer}}
    </div>
</body>

</html>